<header>

    <!-- <div class="logo">
      <a href="{{site.baseurl}}/index.html">openDANES</a>
    </div> -->

    <div class="navigation">
      <ul>
        <li><a href="{{site.baseurl}}/index.html">OpenDANES</a></li>
        <li><a href="{{site.baseurl}}/nav/about.html">About</a></li>
        <li><a href="{{site.baseurl}}/nav/tutorials.html">Tutorials</a></li>
        <li><a href="{{site.baseurl}}/nav/white-papers.html">White Papers</a></li>
        <li><a href="{{site.baseurl}}/nav/posters.html">Posters</a></li>
        <li><a href="{{site.baseurl}}/nav/DANES-resources.html">DANES Resources</a></li>
        <li><a href="{{site.baseurl}}/nav/submission-guidelines.html">Submission Guidelines</a></li>
        <li><input type="text" id="search-input" placeholder="&#xf002"></li>
      </ul>
    </div>

</header>
