// define variables
$primary-color: #52053E;
$primary-color-dark: #330327;
$primary-color-light: #67074e;
$secondary-color: #05878a;
$secondary-color-dark: #074e67;
$secondary-color-light: #82C3C4;
$third-color: #5a175d;
$contrast-color: #feda75;
$secondary-contrast-color: #e3ad5b;
$secondary-contrast-color-dark: #9a6b23;
$light-color: #FEFBF1;

$card-border-color: #333;
$card-border-radius: 10px;
$card-hover-color: #bebebe;
$font-main: 'Quattrocento', serif;
// styling

a {
  text-decoration: none;
}

.author-card {
  border: 1px solid $secondary-color-dark;
  border-radius: $card-border-radius;
  padding: 2.5%;
  margin: 3% 0%;
  width: 100%;
  background-color: $secondary-color-light;

  a {
    color: $secondary-color-dark;

    &:hover {
      color: $secondary-color;
    }
  }

  .authors-container {
    padding: 5px 0px;
    font-size: larger;
  }

  .affiliations {
    padding: 5px 0px;

    p {
      padding: 0px;
    }
  }

  .dates {
    padding: 5px 0px;
    p {
      padding: 0;
      font-size: 1vw;
    }
  }

  .peer-review {
    padding: 5px 0px;

    span.doi {
      background-repeat: no-repeat;
      display: block;
      color: transparent;
    }
  }

  .card-summary {
    padding: 5px 0px;

    p {
      padding: 0px;
    }
  }

  .difficulty p {
    padding-bottom: 0px;
  }
}

.cards {

  .card .invisible {
    display: none;
  }

  .card .visible{

    border: 1px solid $secondary-contrast-color-dark;
    border-radius: $card-border-radius;
    padding: 2.5%;
    margin: 3% 0%;
    background-color: $secondary-contrast-color;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
    width: 100%;
    color: black;
    
    &:hover {
      background-color: $secondary-color-light;
      color: $secondary-color-dark;
      border-color: $secondary-color-dark;
    }
    
    a {
      text-decoration: none;
      
      .card-body {
        h3.card-title {
          margin-top: 0;
          text-decoration: none;
          font-size: 2vw;
        }
        
        .card-meta {
          font-size: 1.15vw;
          margin-bottom: 10px;
          
          i {
            margin-right: 5px;
  
            &:not(:first-child) {
              margin-left: 1.2rem;
            }
          }
        }
        
        .card-summary {
          font-size: 16px;
          line-height: 1.5;
          
          p {
            margin: 0;
          }
        }
      }
    }
  }
}


.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 2vw;

  span {
    border: 1px solid $secondary-contrast-color-dark;
    border-radius: $card-border-radius;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
    padding: 0.4vw 0.8vw;
    margin: 0.5vw;
    background-color: $secondary-contrast-color;
  
    &:hover {
      background-color: $secondary-color-light;
      color: $secondary-color-dark;
      border-color: $secondary-color-dark;
      cursor: pointer;
    }
  }

  .clicked {
    background-color: $secondary-color-light;
    color: $secondary-color-dark;
    border-color: $secondary-color-dark;
  }

}

ul#results-container {
  li.result {
    list-style-type: none;
    border: 1px solid $secondary-contrast-color-dark;
    border-radius: $card-border-radius;
    padding: 2.5%;
    margin: 3%;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
    width: 100%;
    background-color: $secondary-contrast-color;
    color: black;

    h4 {
      margin: 0;
    }
    
    &:hover {
      background-color: $secondary-color-light;
      color: $secondary-color-dark;
      border-color: $secondary-color-dark;
    }

    p {
      padding: 5px;
    }
  }
}

div#no-results {
  text-align: center;
  font-size: 40px;
}

::placeholder {
  color: $contrast-color;
}

li #search-input {
  border: none;
  background: none;
  font: var(--fa-font-solid);
  width: 40px;
  height: 40px;
  transition: all .25s ease-in .25s;
  color: transparent;
  line-height:25px;

  &:hover {
    cursor: pointer;
    &:focus {
      cursor: text;
    }
  }
  &:focus, &:not(:placeholder-shown) {
    font-family: $font-main;
    border: 2px solid $contrast-color;
    border-radius: 10px;
    width: 200px;
    padding: 0 10px;
    outline: none;
    background:none;
    color: $contrast-color;
    + span {
      width: 200px;
      &::before {
        width:2px;
        opacity: 0;
        transition: all .25s ease-in;
      }
    }
  }

  &:focus::placeholder{
    color: transparent;
  }
}

//for phone mode + landscape on very small screens
@media (max-width: 700px) {
  .tags span {
    padding: 1vw 2vw;
    margin: 1vw;
  }

  .cards .card .visible {
    margin: 10% 0%;
  }

  .author-card {
    margin: 10% 0%;
  }
}