// Variables
$primary-color: #52053E;
$primary-color-dark: #330327;
$primary-color-light: #67074e;
$secondary-color: #05878a;
$secondary-color-dark: #074e67;
$third-color: #5a175d;
$contrast-color: #feda75;
$light-color: #FEFBF1;

$tip-prompt: rgb(123, 247, 144, 0.2);
$tip-prompt-icon-color: #03b303;
$info-prompt: #e1f5fe;
$info-prompt-icon-color: #0070cb;
$warning-prompt:rgb(255, 243, 205);
$warning-prompt-icon-color: #ef9c03;
$danger-prompt:rgb(248, 215, 218, 0.56);
$danger-prompt-icon-color: #df3c30;
$font-main: 'Mukta', sans-serif;
$font-code: 'Source Code Pro', monospace;
$icon-size: 25px;
$icon-padding: 1px;

// General
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.6;

  ::-webkit-scrollbar {
  width: 4px;
  }

  ::-webkit-scrollbar-track {
  background: $light-color; 
  }

  ::-webkit-scrollbar-thumb {
  background: $primary-color;
  border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
  background: $primary-color-light; 
  }

  body {
    overflow-x: hidden;
    background-color: $light-color;
  }
}

// Pages
h1 {
  font-family: $font-main;
  font-size: 3.2vw;
  padding: 15px;
  margin-top: 15px;
  text-align: center;
}

section {
  font-family: $font-main;
  margin: 15px 20vw;

  h2, h3 {
    padding-bottom: 10px;
    margin: 15px 0;
  }

  h2 {
    font-size: 2.7vw;
    border-bottom: $primary-color-dark solid 1px;

    i {
      font-size: inherit;
    }
  }

  h3 {
    font-size: 2vw;
    padding-top: 10px;

    i {
      font-size: inherit;
    }
  }
  
  blockquote {
    font-style: italic;
    padding-left: 3vw;
    border-left: $primary-color solid;
  }

  blockquote.prompt-tip {
    background-color: $tip-prompt;
    border-radius: 10px;
    font-style: normal;
    padding: 0;
    border: $tip-prompt-icon-color solid 1px;

    p {
      display: flex;
      padding: 13px;
    }

    ::before {
      content: "\f0eb";
      color: $tip-prompt-icon-color;
      font: var(--fa-font-solid);
      padding-right: 13px;
      padding-top: 5px;
    }
  }

  blockquote.prompt-info {
    background-color: $info-prompt;
    border-radius: 10px;
    font-style: normal;
    padding: 0;
    border: $info-prompt-icon-color solid 1px;

    p {
      display: flex;
      padding: 13px;
    }

    ::before {
      content: "\f05a";
      color: $info-prompt-icon-color;
      font: var(--fa-font-solid);
      padding-right: 13px;
      padding-top: 5px;
    }
  }

  blockquote.prompt-warning {
    background-color: $warning-prompt;
    border-radius: 10px;
    font-style: normal;
    padding: 0;
    border: $warning-prompt-icon-color solid 1px;

    p {
      display: flex;
      padding: 13px;
    }

    ::before {
      content: "\f06a";
      color: $warning-prompt-icon-color;
      font: var(--fa-font-solid);
      padding-right: 13px;
      padding-top: 5px;
    }
  }

  blockquote.prompt-danger {
    background-color: $danger-prompt;
    border-radius: 10px;
    font-style: normal;
    padding: 0;
    border: $danger-prompt-icon-color solid 1px;

    p {
      display: flex;
      padding: 13px;
    }

    ::before {
      content: "\f071";
      color: $danger-prompt-icon-color;
      font: var(--fa-font-solid);
      padding-right: 13px;
      padding-top: 5px;
    }
  }

  div.highlight {
    padding: 15px 0;
  }

  div pre.highlight {
    background-color: black;
    color: $light-color;
    border-radius: 0 0 5px 5px;
    padding: 1vw;
    font-family: $font-code;
    white-space: pre-wrap;
    word-break: break-all;
    // fixing the style that came with the highlighting
    width: 100%;
    margin: 0;
  }

  div.highlight > button {
    height: fit-content;
    padding: 5px 15px;
    font-family: $font-main;
    background-color: $third-color;
    color: $light-color;
    border: none;
    cursor: pointer;
    width: -webkit-fill-available;
    text-align: right;
    border-radius: 5px 5px 0 0;
  }

  button span.code-button-emoticon {
    font: var(--fa-font-solid);
    padding-right: 13px;
    padding-top: 5px;
  }

  p {
    padding: 15px 0;
    text-align: justify;
    font-size: 1.15vw;

    a, i {
      padding: none !important;
      text-align: inherit !important;
      font-size: inherit !important;
    } 
    
  }

  ul, ol {
    padding: 15px 0;
    text-align: justify;
    font-size: 1.15vw;

    li {
      font-size: 1.15vw;
      text-align: justify;
    } 
  } 

  .fig {
    font-size: 1vw;
    padding: 15px 25px;
    line-height: 1.4;

    a {
      font-size: 1vw;
    }
  }

  a {
    text-decoration: none;
    color: $primary-color-dark;

    &:hover {
      color: $primary-color-light;
    }
  }

  img {
    max-width: 100%;
    height: auto;
    padding: 0 2.5vw;
  }

  i {
    font-size: $icon-size;
    padding: $icon-padding;
  }
}
// rgba(6, 43, 94, 0.5)

// Header and Footer
header {
  background-color: $primary-color;
  background-size: cover;
  width: 100vw;
  height: 80px;
  padding: 10px;
  font-family: $font-main;
  color: $light-color;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  // position: absolute;
  // top: 0;
  // left: 0;
  
  .logo {
    padding: 0 15px;

    img {
      max-height: 80px;
      object-fit: contain;
      padding: 5px 5px;
      position: absolute;
      left: 0;
      top: 0;
    }

    a {
      position: absolute;
      padding: 20px 0;
      text-decoration: none;
      color: $light-color;
      left: 40px;
      top: 0;

      &:hover {
        color: $contrast-color;
      }
    }
  }

  ul {
    // float: right;
    // margin: 0 15px;
    display: flex;
    list-style: none;
    flex-wrap: nowrap;
    align-items: center;

    li {
      margin: 0 3px;
      padding: 20px 17px;

      a {
        text-decoration: none;
        color: $light-color;

        &:hover {
          color: $contrast-color;
        }
      }
    }
  }
}

footer {
  background-color: $primary-color;
  background-size: cover;
  width: 100vw;
  height: auto;
  // padding: 10px;
  font-family: $font-main;
  color: $light-color;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;

  div{
    padding: 10px;

    h3 {
      color: $contrast-color;
    }
  
    a {
      text-decoration: none;
      color: $light-color;

      i {
        font-size: $icon-size;
        padding: $icon-padding;
      }
  
      &:hover {
        color: $contrast-color;
        cursor: pointer;
      }
    }
  }
}

#credits {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  p {
    padding: 10px;
  }
}

// for tablet mode
@media (max-width: 1024px) {
  h1 {
    font-size: 4vw;
  }
  
  section {
    margin: 15px 15vw;

    h2 {
      font-size: 3.5vw;
    }

    h3 {
      font-size: 3vw;
    }

    p {
      font-size: 2vw !important; 
    }

    ul, ol {
      font-size: 2vw !important;

      li {
        font-size: 2vw !important;
      }
    }

    .fig, .fig a {
      font-size: 1.5vw;
    }
  }

  header {
    height: 280px;

    ul {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding: 0 40px;
      justify-content: space-around;

      li  {
        padding: 20px 7px;
      }
    }
  }
}

//for landscape mode on phone
@media (max-width: 900px) {

  section {
    margin: 15px 10vw;
  }

  blockquote {
    padding-left: 5vw !important;
  }

  blockquote.prompt-tip, blockquote.prompt-info, blockquote.prompt-warning, blockquote.prompt-danger {
    padding: 0 !important;
  }
}

//for phone mode + landscape on small screens
@media (max-width: 700px) {
  h1 {
    font-size: 40px;
  }
  
  section {
    h2 {
      font-size: 35px;
    }

    h3 {
      font-size: 30px;
    }

    p {
      text-align: left;
      font-size: 17px !important;  
    }

    ul, ol {
      text-align: left;
      font-size: 17px !important;

      li {
        font-size: 17px !important;
      }
    }

    .fig, .fig a {
      font-size: 14px;
    }

    div pre.highlight {
      flex-direction: column;
      white-space: pre-wrap;
      word-break: break-all;
    }
  
    div pre.highlight > button {
      opacity: 1 !important;
      width: fit-content;
      align-self: center;
      margin: 10px;
    }
  }
  
  header {
    height: 320px;

    .logo {
      padding: 0;
      width: 100vw;
      display: flex;
      justify-content: center;

      a {
        position: static;
      }
    }

    ul {
      width: 100vw;
    }
  }

  footer {
    flex-direction: column;
    text-align: justify;
    align-items: flex-start;
  }

  #credits {
    flex-direction: column;
  }
}

//for phone mode + landscape on very small screens
@media (max-width: 500px) {
  header {
    height: 320px;
  }

  blockquote {
    padding-left: 10vw !important;
  }

  blockquote.prompt-tip, blockquote.prompt-info, blockquote.prompt-warning, blockquote.prompt-danger {
    padding: 0 !important;
  }
}