<!doctype html>
<html lang="en">
  <head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-3EDJ22Y1C2"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
    
          gtag('config', 'G-3EDJ22Y1C2');
        </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- meta description -->
    <!-- <meta name="description" content="The Digital Pasts Lab (DigPasts-Lab) is geared towards performing innovative, quality research in digital humanities, with an emphasis on historical research. We aim to create an interdisciplinary workspace among different humanities researchers and between humanities researchers and data scientists, which develops and enriches both worlds.">
    <meta name="keywords" content="digital humanities, babylonian engine, assyriology, Akkademia, Atrahasis, digital assyriology, history, archaeology"> -->
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="{{site.baseurl}}/favicon_io/site.webmanifest">
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Taviraj&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/269b02bfd4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css"></link>
    <!-- style css -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/CSS/style_0.2.css">
    <!-- style css for table of contents -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/CSS/toc-style.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/CSS/search-and-tags.css">

    <!-- codeblock highlighting: https://github.com/highlightjs/highlight.js/ -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/sunburst.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/languages/javascript.min.js"></script>
    <script>hljs.highlightAll();</script>
    
    <!-- displaying math formulae -->
    <script type="text/javascript" async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML">
    </script>

    {% include mathjax.html %}

    <title>openDANES</title>

    {% if page.mathjax %}
    {% include mathjax.html %}
    {% endif %}

  </head>
  <body>
    <a name="top"></a>
    {% include navigation.html %}

    <section>
      <div class="toc">
        <p><a href="#top"><i class="fas fa-arrow-up"></i> Top</a></p>
        <h2><i class="far fa-folder-open"></i> On this page</h2>
        {% include toc.html html=content %}
      </div>
      <div class="content">
        <h1>{{ page.title }}</h1>
        {{ content }}
      </div>
    </section>
    {% include footer.html %}

    <!-- javascript to place class on code element so highlighting will display correctly -->
        <script>
      document.addEventListener("DOMContentLoaded", function(event) {
        var highlightElements = document.querySelectorAll("div.highlighter-rouge");
        for (var i = 0; i < highlightElements.length; i++) {
          var langClass = highlightElements[i].classList;
          var lang = Array.from(langClass).find(function(item) {
            return item.startsWith("language-");
          });
          if (lang) {
            var codeElements = highlightElements[i].querySelectorAll("code");
            for (var j = 0; j < codeElements.length; j++) {
              codeElements[j].classList.remove("language-css");
              codeElements[j].classList.add(lang);
            }
          }
        }
      });
    </script>
  </body>
  <script src="{{site.baseurl}}/assets/js/codeblock.js"></script>
  <script src="{{site.baseurl}}/assets/js/toc-scroll.js"></script>
  <script src="https://hypothes.is/embed.js" async></script>
</html>
