<!doctype html>
<html lang="en">
  <head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-3EDJ22Y1C2"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
    
          gtag('config', 'G-3EDJ22Y1C2');
        </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- meta description -->
    <!-- <meta name="description" content="The Digital Pasts Lab (DigPasts-Lab) is geared towards performing innovative, quality research in digital humanities, with an emphasis on historical research. We aim to create an interdisciplinary workspace among different humanities researchers and between humanities researchers and data scientists, which develops and enriches both worlds.">
    <meta name="keywords" content="digital humanities, babylonian engine, assyriology, Akkademia, Atrahasis, digital assyriology, history, archaeology"> -->
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="{{site.baseurl}}/favicon_io/site.webmanifest">
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Taviraj&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/269b02bfd4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css"></link>
    <!-- style css -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/CSS/style_0.2.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/CSS/search-and-tags.css">
    <title>openDANES</title>
  </head>
  <body>
    {% include navigation.html %}
    <section>
      {% include search.html %}
      <h1>{{ page.title }}</h1>
      {{ content }}
    </section>
    {% include footer.html %}
  </body>
  <script src="{{site.baseurl}}/assets/js/tag_click.js"></script>
  <script src="{{site.baseurl}}/assets/js/codeblock.js"></script>
</html>
